// Main Sass File
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
body {
    font-family: 'Raleway', sans-serif;
}
#main-header {
    img {
        width: 100%;
        height: 100%;
    }
    .port-item {
        width: 100%;
        .fa {
            font-size: 2em;
        }
    }
    .name {
        .fa {
            padding: 25px;
            font-size: 25px;
            color: white;
        }
    }
    .port-item:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.title {
    font-family: 'Calligraffitti', sans-serif;
    text-align: center;
    .name {
        a {
            .fa {
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            .fa-twitter:hover {
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                color: #0084b4 !important;
            }
            .fa-linkedin:hover {
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                color: #0077b5 !important;
            }
            .fa-github:hover {
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                color: #6e5494 !important;
            }
            .fa-envelope:hover {
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                color: #ccc !important;
            }
        }
    }
}

.bg-black {
    background-color: #000;
    color: #fff;
}

p.bg-dark {
    border-radius: 3px;
}

.devicons {
    font-size: 2.8rem;
    color: grey;
    transition: all 0.4s;
    vertical-align: middle;
}

.captcha-col {
    text-align: -webkit-center;
}

.contact-form {
    .form-group {
        .input-group {
            .form-control {
                border: 0;
                font-size: 1rem;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            .input-group-addon {
                display: inline-block;
                padding: 0 1.5rem;
                text-align: center;
                position: relative;
                border: 0;
                .fa {
                    font-size: 1.2rem;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        label {
            font-size: 0.6rem;
        }
    }
    .send-btn:hover {
        cursor: not-allowed;
    }
}

.download-resume {
    margin: 1rem 0;
}

.statcounter {
    display: none;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 2em !important;
    }
}

@media (max-width: 576px) {
    .bg-black {
        text-align: center;
    }
    .title {
        text-align: center;
        padding-bottom: 15px !important;
    }
    .name {
        .fa {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 25px;
        }
    }
}

@media (max-width: 768px) {
    .download-resume {
        text-align: center !important;
    }
}
