// Main Sass File
// Color Variables
$color-primary: #dc3545 !default;
$color-black: #000 !default;
$color-white: #fff !default;
$color-linkedin: #0077b5 !default;
$color-github: #6e5494 !default;
$color-twitter: #0084b4 !default;
$color-youtube: #ff0000 !default;
$color-mail: #ccc !default;

// Fonts Variables
$font-headings: 'Roboto Condensed' !default;
$font-body: 'Roboto Condensed' !default;

::selection {
  background-color: $color-primary;
  color: $color-white;
}

body {
  font-family: $font-body;
  position: relative;
  -moz-font-feature-settings: kern 1;
  -ms-font-feature-settings: kern 1;
  -o-font-feature-settings: kern 1;
  -webkit-font-feature-settings: kern 1;
  font-feature-settings: kern 1;
  font-kerning: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

#main-header {
  img {
    width: 100%;
    height: 100%;
  }

  .port-item {
    width: 100%;

    .icon {
      font-size: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  .name-title {
    font-family: $font-headings;
    text-align: center;
    color: $color-white;
    font-weight: bold;
  }

  .social-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;

    &--item {
      display: inline-block;
      margin: 0;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &--link {
      color: $color-white;
      font-size: 2rem;
      transition: color 0.3s ease;
      &:hover {
        svg.fa-twitter {
          color: $color-twitter;
        }

        svg.fa-linkedin {
          color: $color-linkedin;
        }

        svg.fa-github {
          color: $color-github;
        }

        svg.fa-youtube {
          color: $color-youtube;
        }

        svg.fa-envelope {
          color: $color-mail;
        }
      }
    }
  }
}

.bg-black {
  background-color: $color-black;
  color: $color-white;
  .info-text {
    color: $color-primary;
    &:hover {
      text-decoration: none;
    }
  }
}

.skill-set-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.my-skills {
  display: inline-flex;
  margin: 50px;
  img {
    filter: grayscale(100%);
  }
}

.contact-form {
  .form-group {
    .input-group {
      .form-control {
        border: 0;
        font-size: 0.8rem;

        &:hover {
          cursor: not-allowed;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      #message {
        height: 100px;
      }

      .input-group-addon {
        display: inline-block;
        padding: 0 1.5rem;
        text-align: center;
        position: relative;
        border: 0;

        .fas {
          font-size: 1.2rem;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .contact-pane {
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    label {
      font-size: 0.6rem;
    }
  }

  .send-btn {
    &:hover {
      cursor: not-allowed;
    }
  }
}

.download-resume {
  margin: 1rem 0;
}

.matcss-img {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.my-skills:hover {
  .matcss-img {
    filter: grayscale(0);
  }
}

#back_to_top {
  cursor: pointer;
  color: $color-primary;
}

@media only screen and (min-width: 1199px) {
  .port-item {
    padding: 2rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .bg-black {
    text-align: center;
  }

  .info-text {
    font-size: 1rem;
  }

  .title {
    text-align: center;
    padding: 2.3rem !important;
  }

  .title .social-list {
    &--item {
      margin: 0;
    }
    &--item:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  .name {
    .fa {
      padding: 0.9rem 0;
      font-size: 1.8rem;
    }
  }

  .my-skills {
    margin: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .download-resume {
    text-align: center !important;
  }
}
